In [1]:
#import libraries
import pandas as pd
import os

In [2]:
#specify path to files
data_dir = 'raw_data'
players_csv = 'players.csv'
items_csv = 'items.csv'
purchases_csv = 'purchases.csv'

#get OS specific path to files
players_path = os.path.join(data_dir, players_csv)
items_path = os.path.join(data_dir, items_csv)
purchases_path = os.path.join(data_dir, purchases_csv)

In [3]:
#read files as data frames
players_df = pd.read_csv(players_path)
items_df = pd.read_csv(items_path)
purchases_df = pd.read_csv(purchases_path)

In [27]:
#total number of players
num_players = players_df['SN'].count()
str_num_players = f"{players_df['SN'].count():,}"

In [17]:
player_count_tbl = pd.DataFrame({"Total Number of Players":[num_players]})
player_count_tbl

   Total Number of Players
0                     1163

In [30]:
#number of unique items 
num_items = len(items_df['Item ID'].unique())
num_items

190

#Average Purchase Price
avg_purchase_price = f"${purchases_df['Price'].mean():.2f}"

In [34]:
# Total Number of Purchases
num_purchases = purchases_df['Purchase ID'].count()
num_purchases

78

In [35]:
#total revenue
revenue = f"${purchases_df['Price'].sum():.2f}"

In [36]:
purchase_summary_tbl = pd.DataFrame({"Number of Unique Items":[num_items],
                                        "Average Purchase Price":[avg_purchase_price],
                                        "Total Number of Purchases":[num_purchases],
                                        "Total Revenue":[revenue]})
purchase_summary_tbl

NameError: name 'avg_purchase_price' is not defined

In [37]:
#percentage and count of male players
male_players_cnt = players_df.loc[players_df['Gender'] == 'Male','Gender'].count()
male_players_pct = 100 * male_players_cnt / num_players

#display male players 2 decimal places
str_male_players_pct = f"{male_players_pct:.2f}%"

In [38]:
#percentage and count of female players
female_players_cnt = players_df.loc[players_df['Gender'] == 'Female','Gender'].count()
female_players_pct = 100 * female_players_cnt / num_players

#display female players 2 decimal places
str_female_players_pct = f"{female_players_pct:.2f}%"

In [39]:
#percentage and count of other/non-disclosed players
other_players_cnt = num_players - male_players_cnt - female_players_cnt
other_players_pct = 100 * other_players_cnt / num_players

#display other players 2 decimal places
str_other_players_pct = f"{other_players_pct:.2f}%"

In [40]:
players_summary_tbl = pd.DataFrame({
    "Count of Male Players":[male_players_cnt],
    "Percentage of Male Players":[str_male_players_pct],
    "Count of Female Players":[female_players_cnt],
    "Percentage of Female Players":[str_female_players_pct],
    "Count of Other / Non-Disclosed Players":[other_players_cnt],
    "Percentage of Other / Non-Disclosed Players":[str_other_players_pct]
})

players_summary_tbl

,Count of Female Players,Count of Male Players,Count of Other / Non-Disclosed Players,Percentage of Female Players,Percentage of Male Players,Percentage of Other / Non-Disclosed Players
0,187,954,22,16.08%,82.03%,1.89%

In [41]:
#purchase count by gender
purchases_grp_df = purchases_df.groupby('Gender')
purchases_grp_df['Purchase ID'].sum()

Gender
Female                    554
Male                     2431
Other / Non-Disclosed      18
Name: Purchase ID, dtype: int64

In [42]:
purchases_grp_df['Price'].mean()

Gender
Female                   3.183077
Male                     2.884375
Other / Non-Disclosed    2.120000
Name: Price, dtype: float64

In [43]:
purchases_grp_df['Price'].sum()

Gender
Female                    41.38
Male                     184.60
Other / Non-Disclosed      2.12
Name: Price, dtype: float64